/* body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* main */
main {
  margin: 0 auto;
  margin-left: 15%;
  margin-top: -3rem;
  justify-content: center;
  align-items: center;
}

/* App-footer */
.App-footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* form */
form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 50%;
}

/* form elements */
form div {
  margin-bottom: 15px;
}

/* form labels */
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* form inputs */
form input,
form textarea,
form select {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* form buttons */
form button {
  background-color: #61dafb;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

/* form buttons hover */
form button:hover {
  background-color: #21a1f1;
}

/* == Responsive styles == */
@media screen and (max-width: 1008px) {
  main {
    margin-left: 0;
    font-size: small;
  }

  form {
    margin-top: 2rem;
  }
}
